{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>E-commerce | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="{%static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->

</head>

<body>
    {% if messages%}
    
        {% for message in messages %}
        
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} 
    
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p style="margin: 0% 20%;" ><strong>Hi {{user.username}}: </strong> {{message}}
            <button type="button" class="btn btn-link" style="float: right;" data-bs-dismiss="alert" aria-label="Close">Close</button></p>
        </div>

        {%else%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p style="margin: 0% 20%;" ><strong>{{user.username}}: </strong> {{message}}
                    <button type="button" class="btn btn-link" style="float: right;" data-bs-dismiss="alert" aria-label="Close">Close</button></p>
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    {% endif %}
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form method="get">
                            <input type="search" name="text" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="{% static 'img/core-img/search.png' %}" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href=""><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    
                    {% if user.is_authenticated %}
                        <h3>Hey 👋 {{ user.username }}</h3>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}

                    <li><a href="{% url 'home' %}">Home</a></li>
                    <!-- <li><a href="{ url 'product' %}">Product</a></li>                     -->
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'user_purchases' %}">My purchases</a></li>
                    {% endif %}
                    {% if user.is_authenticated and user.is_superuser %}

                        <li><a href="{%url 'add_product'%}">Add Product</a></li>   
                    {% endif %}
                </ul>
            </nav>
            <br><br><br><br>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <!-- <a href="cart.html" class="cart-nav"><img src="{% static 'img/core-img/cart.png' %}" alt=""> Cart <span>(0)</span></a>
                <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png' %}" alt=""> Favourite</a> -->
                <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png' %}" alt=""> Search</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">                
                <a href="https://www.instagram.com/komilov185657/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100083003751757"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://t.me/komilov185657/"><i class="fa fa-telegram" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        
                <!-- Asosiy qism -->
                {% block content %}
                
                {% endblock content %}
                <!-- Asosiy qism Tugadi -->
                               
            
        
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->   

    <!-- <div style="margin-top: 1%;"> -->

    </div>
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix" >
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="{% url 'home'  %}"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> by Mr_Komilov</a>
                            
                        </p>                    
                    </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>