{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="single-product-area section-padding-100 clearfix" style="margin-bottom: 5%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb" >
                        <h3> {{obj.title}} </h3>
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                
                                <li class="active"  data-target="#product_details_slider" data-slide-to="0" style=" background-image: url('/media/{{obj.photo1}}');">
                                </li>
                                {% if obj.photo2 %}
                                <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url('/media/{{obj.photo2}}');">
                                </li>
                                {% endif %}
                                
                                {% if obj.photo3 %}
                                <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url('/media/{{obj.photo3}}');">
                                </li>
                                {% endif %}

                                {% if obj.photo4 %}
                                <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url('/media/{{obj.photo4}}');">
                                </li>
                                {% endif %}
                            </ol>
                            
                            <div class="carousel-inner" style="height: 500px;">
                                
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="/media/{{obj.photo1}}">
                                        <img class="d-block w-100" style="width: 100%;"  src="/media/{{obj.photo1}}" alt="First slide">
                                    </a>
                                </div>
                                {% if obj.photo2 %}
                                <!-- # Ikkinchi rasm -->
                                <div class="carousel-item">
                                    <a class="gallery_img" href="/media/{{obj.photo2}}">
                                        <img style="width: 100%;" class="d-block w-100"  src="/media/{{obj.photo2}}" alt="Second slide">
                                    </a>
                                </div>
                                {% endif %}
                                
                                {% if obj.photo3 %}
                                <!-- # Uchinchi rasm -->
                                <div class="carousel-item">
                                    <a class="gallery_img" href="/media/{{obj.photo3}}">
                                        <img style="width: 100%;" class="d-block w-100" src="/media/{{obj.photo3}}" alt="Third slide">
                                    </a>
                                </div>
                                {% endif %}

                                {% if obj.photo4 %}
                                <!-- # To`rtinchi rasm -->
                                <div class="carousel-item">
                                    <a class="gallery_img" href="/media/{{obj.photo4}}">
                                        <img style="width: 100%" class="d-block w-100" src="/media/{{obj.photo4}}" alt="Fourth slide">
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <!--Buy -->
                    <!-- <form class="cart clearfix" method="post"> -->
                    {% if user.is_authenticated %}
                        
                        <a href="{% url 'checkout' obj.pk %}"><button name="buy" class="btn amado-btn">Buy</button></a>
                        {% if user.is_superuser %}
                            <a href="{% url 'delete' obj.pk %}"><button name="delete" class="btn amado-btn">Delete</button></a>
                            <a href="{% url 'update' obj.pk %}"><button name="update" class="btn amado-btn">Update</button></a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'login' %}"><button name="login" class="btn amado-btn">Login</button></a>
                    {% endif %}
                        <!-- </form> -->
                
                </div>



                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">{{obj.price}}</p>
                            <a href="">
                                <h6>{{obj.bio}}</h6>
                            </a>                                                
                        </div>

                        <div class="short_overview my-5">
                            <p>{{obj.definition}}</p>
                        </div>

                        <!-- Add to Cart Form -->
                        <!-- <form class="cart clearfix" method="post"> -->
                            
                            
                        <!-- </form> -->
                            
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}